{
  "plugins": [
    "mocha",
    "node"
  ],
  "env": {
    "node": true
  },
  "extends": [
    "standard",
    "standard-jsx",
    "eslint:recommended"
  ],
  "ignore": [
    "code/",
    "node_modules/",
    "examples/",
    "opcua-iiot/",
    "docs",
    "src/public/",
    "maps/"
  ]
}
