{
  "plugins": [
    "mocha"
  ],
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "ignore": [
    "code/",
    "node_modules/",
    "examples/",
    "opcua-iiot/",
    "docs",
    "src/public/",
    "maps/"
  ]
}
