language: node_js
matrix:
  include:
    - node_js: 8
    - node_js: 9
    - node_js: 10
    - node_js: "lts/*"
  allow_failures:
    - node_js: 8
    - node_js: 9
    - node_js: "lts/*"
install:
  - npm install
  - npm install -g gulp
  - npm install -g gulp-cli
  - npm install -g jest
script:
  - npm run coverage
  - npm run upload-coverage
cache:
  directories:
    - "node_modules"
branches:
  only:
  - master
  - develop
